@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-family: 'Press Start 2P';
    background-color: rgb(255, 255, 255);
    background-image: url("backdrop.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-shadow: white 2px 0px;
 

}

#methodscontainer,
#progressbars {
    display: block;
}

img{
    margin-top:10%;
    width: 100px;
    height: 100px;
    justify-items: center;
    position:flex;

}

button{
    display:table-row;
    text-align: center;
    font-size: 25pt;
    border-style:double;
    background-color: transparent;
    font-family: 'Press Start 2P';
    color: rgb(255, 255, 255);
}

.petimgs {
    display: flex;
    justify-content: space-evenly;
    border-style: none;
    background-color: transparent;
    position: relative;
    
}

#petimgs img {
    width: 100px;
    height: 100px;
    justify-items: center;
    position: flex;
}

#petname {
    display:fixed;
    text-align: center;
    text-shadow:black 1px 0px;
    text-shadow: white 1px 0px;
}

.overlay {
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay h2 {
    font-size: 60px;
    color: white;
    margin-top:30%;
    text-align: center;
}

#petcontainer{
    display: flex;  
    justify-content:space-evenly;
    margin-top:5px ;
    margin-left:1.5%;
    padding-left: 1.5%;
}

#snakebtn:hover{
    color:rgb(37, 206, 80);
}

#dogbtn:hover{
    color: rgb(111, 0, 255);
}

#catbtn:hover{
    color: rgb(234, 0, 255);
}


#methodscontainer{    
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
    display: table; 
    justify-content: space-evenly;
}


#progressbars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    visibility: visible;
}

#progressbars progress {
    width: 200px;
    margin-bottom: 10px;
}


#healthbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

#gameover {
    padding-top:40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: red;
    z-index: 9999;
    text-align: center; /* Center the text */
}

#healthbar {
    width: 200px;
}
